<!-- <div class="polygon">
  <img src="assets/right.png" alt="">
</div> -->

<!-- app.component.html -->
<div class="profile-setup-container">
    <!-- Main Content -->
    <main class="main-content">
      <div class="left-panel">
        <!-- <img src="../assets/Union.svg" alt=""> -->
        <div class="polygon-image-container">
          <div class="polygon">
            <img src="assets/older-adults-phone.png" alt="Senior couple looking at phone" class="senior-image">
          </div>
        </div>
      </div>
  
      <div class="right-panel">
        <h1 class="heading">Let's get started filling out your profile</h1>
        <p class="description">
          The best way for us to get you the right kind of help is to know you as well as possible.
        </p>
        <button class="start-button"  (click)="onNext()">Start</button>
      </div>
    </main>
  
  </div>