<!-- <div class="polygon">
  <img src="assets/right.png" alt="">
</div> -->

<!-- app.component.html -->
<div class="profile-setup-container">
    <!-- Main Content -->
    <main class="main-content">
      <div class="right-panel">
        <h1 class="heading">You’ve completed your quiz</h1>
        <p class="description">
          We really appreciate that you took the time to log the answers to this quiz to the console as a javascript object!
        </p>
        <button class="start-button"  (click)="onNext()">Take me to your leader</button>
      </div>
      <div class="left-panel">
        <!-- <img src="../assets/Union.svg" alt=""> -->
        <div class="polygon-image-container">
          <div class="polygon">
            <img src="assets/older-adults-phone.png" alt="Senior couple looking at phone" class="senior-image">
          </div>
        </div>
      </div>
  
      
    </main>
  
  </div>