@import '../../../shared/styles/shared-step-styles.scss';

// Additional styling specific to this step
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  // margin-top: 10px;
  
  .radio-item {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    
    input[type="radio"] {
      margin-right: 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
    }
    
    label {
      cursor: pointer;
      font-size: 1rem;
    }
  }
}